@charset "utf-8";
* {
	margin: 0px;
	padding: 0px;
}

body {
	font-family: "Microsoft Yahei", "SimSun";
	font-size: 14px;
	color: #333;
}

a{
	color:#333;
}

a:hover{
	color:#c80000;
}

img{
	display:block;
}

.wrapper{
	width:100%;
	min-width:1000px;
}

.w1000{
	width:1000px;
	margin:0px auto;
}

h1,h2,h3,h4,h5{
	font-family:"Microsoft Yahei","SimHei";
	overflow:hidden;
	font-weight:normal;
}

p{
	overflow:hidden;
}

#top{
	background:#f7f7f7;
	border-top:4px solid #38ade6;
	border-bottom:1px solid #e7e8ea;
}

#top .logo{
	float:left;
	padding:15px 0px;
}

#top .msg{
	float:right;
	position:relative;
	margin-top:30px;
	cursor:pointer;
}

#top .msg span{
	position:absolute;
	left:17px;
	top:-12px;
	padding:0px 7px;
	background:#ff8601;
	border:1px solid #e47b07;
	border-radius:3px;
	height:14px;
	line-height:14px;
	font-size:12px;
	font-family:"SimSun";
	color:#fff;
}

#top .msg .drop{
	position:absolute;
	left:50%;
	margin-left:-50px;
	top:42px;
	width:98px;
	border:1px solid #e7e8ea;
	background:#f7f7f7;
	padding:10px 0px;
	display:none;
	z-index: 1;
}

#top .msg .drop i{
	position:absolute;
	left:50%;
	margin-left:-7px;
	top:-10px;
	width:15px;
	height:10px;
	background:url(../images/msg-drop.png);
}

#top .msg .drop p{
	text-align:center;
	line-height:20px;
	padding:5px 0px;
}

#top .msg .drop p a{
	color:#999;
}

#top .msg .drop p a:hover{
	text-decoration:none;
	color:#38ade6;
}

#top .login{
	float:right;
	display:inline;
	margin-left:60px;
	margin-top:19px;
	position:relative;
}

#top .login .photo{
	float:left;
	display:inline;
	margin-right:14px;
	width:47px;
	height:47px;
	border-radius:50%;
	overflow:hidden;
}

#top .login .photo img{
	width:100%;
	height:100%;
}

#top .login .text{
	float:left;
	text-align:center;
}

#top .login .text span{
	display:block;
	padding:0px 8px;
	background:#ff8601;
	border:1px solid #e47b07;
	border-radius:3px;
	height:20px;
	line-height:20px;
	font-size:12px;
	font-family:"SimSun";
	color:#fff;
}

#top .login .text label{
	display:block;
	color:#02374f;
	line-height:18px;
	margin-top:6px;
}

#top .login .drop{
	position:absolute;
	left:50%;
	margin-left:-65px;
	top:53px;
	width:128px;
	border:1px solid #e7e8ea;
	background:#f7f7f7;
	display:none;
}

#top .login .drop i{
	position:absolute;
	left:50%;
	margin-left:-7px;
	top:-10px;
	width:15px;
	height:10px;
	background:url(../images/msg-drop.png);
}

#top .login .drop p{
	text-align:center;
	line-height:38px;
	border-bottom:1px solid #e7e8ea;
}

#top .login .drop p a{
	color:#999;
}

#top .login .drop p a:hover{
	text-decoration:none;
	color:#38ade6;
}

#top .login .drop .quit{
	background-image:url(../images/quit1.png);
	background-repeat:no-repeat;
	background-position:40px center;
	padding-left:20px;
}

#top .login .drop .quit:hover{
	background-image:url(../images/quit2.png);
}

#top .login .drop .quit:hover a{
	color:#ff8601;
}

#top .right-btn{
	float:right;
	height:40px;
	line-height:40px;
	color:#fff;
	border-radius:3px;
	font-size:18px;
	padding:0px 25px;
	margin:22px 0px;
}

#top .right-btn:hover{
	text-decoration:none;
}

#top .right-color1{ background:#38ade6; }
#top .right-color2{ background:#ff8601; }

#top .review{
	float:left;
	display:inline;
	margin:30px 0px 0px 40px;
	line-height:24px;
	color:#999;
}

#top .review span{
	float:left;
	display:inline;
	margin-right:15px;
	height:24px;
	padding:0px 12px;
	border-radius:4px;
	color:#fff;
	background:#ff8601;
}

#back-top{
	position:fixed;
	right:5%;
	bottom:10%;
	width:48px;
	height:48px;
	background-image:url(../images/back-top.png);
}

#back-top:hover{
	background-position:right top;
}

#footer{
	background:#ebebeb;
	line-height:24px;
	text-align:center;
	color:#979797;
}

#footer .w1000{
	padding:25px 0px;
}

#footer a{
	color:#979797;
}

.side{
	float:left;
	width:220px;
	font-size:16px;
	color:#94989c;
}

.side li{
	margin-bottom:30px;
	padding-left:25px;
	background-repeat:no-repeat;
	background-position:left 8px;
}

.side li a{
	color:#02374f;
}

.side li span{
	line-height:36px;
}

.side li p{
	line-height:40px;
}

.side .color2,.side .color2 a{
	color:#ff8601;
}

.side .icon1{ background-image:url(../images/sidenav-icon1.png); }
.side .icon2{ background-image:url(../images/sidenav-icon2.png); }
.side .icon3{ background-image:url(../images/sidenav-icon3.png); }
.side .icon4{ background-image:url(../images/sidenav-icon4.png); }
.side .icon5{ background-image:url(../images/sidenav-icon5.png); }

.main{
	float:right;
	width:750px;
}

.tab1{
	border-top:1px solid #e7e8ea;
	font-size:18px;
}

.tab1 span{
	float:left;
	display:inline;
	margin-right:30px;
	height:44px;
	line-height:44px;
	padding-top:2px;
	padding-left:2px;
	padding-right:2px;
	margin-top:-1px;
	color:#a1a0a0;
	cursor:pointer;
}

.tab1 .current{
	border-top:2px solid #38ade6;
	padding-top:0px;
	color:#38ade6;
}

.tab1 .links{
	float:right;
	line-height:44px;
	color:#c4c7cf;
	font-size:14px;
}

.tab1 .links a{
	margin:0px 12px;
}

.tab1 .links .active{
	color:#38ade6;
}

.date{
	border:1px solid #e7e8ea;
	background:#f7f7f7;
	font-size:16px;
	line-height:24px;
	padding:14px 0px;
}

.date .choose1{
	float:left;
	display:inline;
	border-right:1px solid #e7e8ea;
	padding:0px 6px;
}

.date .choose1 a{
	color:#a1a0a0;
	margin:0px 17px;
}

.date .choose3{
	float:left;
	display:inline;
	padding:0px 6px;
	color:#e7e8ea;
	margin-top:10px;
}

.date .choose3 a{
	color:#a1a0a0;
	margin:0px 17px;
}

.date .color3{
	color:#38ade6 !important;
}

.date .choose2{
	float:left;
	display:inline;
}

.date .choose2 a{
	background:url(../images/date.gif) no-repeat right center;
	padding-right:13px;
	margin:0px 25px;
}

.date .search{
	float:left;
	display:inline;
	width:64px;
	height:24px;
	background:url(../images/date-search.gif);
	cursor:pointer;
}

.number{
	border:1px solid #e7e8ea;
	background:#fff;
	padding:15px 0px;
}

.number table{
	width:100%;
}

.number table td{
	border-left:1px solid #e7e8ea;
	border-right:1px solid #e7e8ea;
	text-align:center;
}

.number span{
	display:block;
	font-size:16px;
	line-height:24px;
}

.number label{
	display:block;
	font-size:26px;
	line-height:32px;
}

.title1{
	line-height:20px;
	margin-bottom:15px;
}

.chart-top1{
	border:1px solid #e7e8ea;
	background:#f7f7f7;
	padding:16px 0px;
}

.chart-top1 li{
	float:left;
	display:inline;
	margin:0px 20px;
	line-height:20px;
}

.chart-top1 .color1{ color:#ff635c; }
.chart-top1 .color2{ color:#7baaff; }
.chart-top1 .color3{ color:#ff9642; }
.chart-top1 .color4{ color:#78c83c; }
.chart-top1 .color5{ color:#3fcac2; }

.chart-top1 input{
	margin-right:5px;
}

.chart{
	border:1px solid #e7e8ea;
	text-align:center;
}

.chart img{
	display:inline;
}

.table1{
	border:1px solid #e7e8ea;
}

.table1 table{
	width:100%;
}

.table1 th{
	background:#f7f7f7;
	height:42px;
	line-height:42px;
	text-align:center;
	font-size:14px;
	color:#a1a0a0;
}

.table1 td{
	border-top:1px solid #e7e8ea;
	border-bottom:1px solid #e7e8ea;
	height:42px;
	line-height:42px;
	text-align:center;
	font-size:14px;
}

.table1 td a{
	color:#1b80c4;
}

.flip{
	text-align:center;
	color:#000;
}

.flip a{
	background:#ececec;
	height:35px;
	line-height:35px;
	padding:0px 15px;
	margin:15px 6px 0px 6px;
	display:inline-block;
	vertical-align:top;
}

.flip a:hover,.flip .current{
	color:#fff;
	background:#38ade6;
	text-decoration:none;
}

.user-list{
	border:1px solid #e7e8ea;
}

.user-list ul{
	margin-top:-1px;
}

.user-list li{
	float:left;
	width:25%;
	border-top:1px solid #e7e8ea;
	text-align:center;
	padding-top:25px;
	padding-bottom:25px;
}

.user-list li .photo{
	margin:0px auto;
	height:40px;
	width:40px;
	border-radius:50%;
	overflow:hidden;
}

.user-list li .photo img{
	width:100%;
	height:100%;
}

.user-list li h3{
	font-size:14px;
	height:20px;
	line-height:20px;
	margin-top:10px;
}

.user-list li .btn{
	display:inline-block;
	vertical-align:top;
	border:1px solid #38ade6;
	height:18px;
	line-height:18px;
	border-radius:2px;
	font-size:12px;
	font-family:"SimSun";
	color:#38ade6;
	padding:0px 6px;
	margin-top:18px;
}

.user-list li .btn:hover{
	text-decoration:none;
	background:#38ade6;
	color:#fff;
}



#schedule{
	text-align:center;
}

#schedule .step,#schedule .line{
	display:inline-block;
	vertical-align:top;
}

#schedule .line{
	margin-top:13px;
	height:4px;
	width:232px;
	background:#ececec;
}

#schedule .step{
	text-align:center;
}

#schedule .step .circle{
	width:34px;
	height:34px;
	line-height:34px;
	font-size:16px;
	font-weight:bold;
	color:#fff;
	margin:0px auto;
	background-image:url(../images/schedule3.gif);
}

#schedule .step p{
	line-height:20px;
	font-size:16px;
	color:#ccc;
	margin-top:10px;
}

.schedule1 .step1 .circle{
	background-image:url(../images/schedule2.gif) !important;
	text-indent:-9999px;
}

.schedule1 .step1 p{
	color:#38ade6 !important;
}

.schedule2 .step1 .circle{
	background-image:url(../images/schedule1.gif) !important;
	text-indent:-9999px;
}

.schedule2 .step2 .circle{
	background-image:url(../images/schedule2.gif) !important;
	text-indent:-9999px;
}

.schedule2 .step1 p,.schedule2 .step2 p{
	color:#38ade6 !important;
}

.schedule3 .step1 .circle,.schedule3 .step2 .circle{
	background-image:url(../images/schedule1.gif) !important;
	text-indent:-9999px;
}

.schedule3 .step3 .circle{
	background-image:url(../images/schedule2.gif) !important;
	text-indent:-9999px;
}

.schedule3 .step1 p,.schedule3 .step2 p,.schedule3 .step3 p{
	color:#38ade6 !important;
}

.content{
	min-height:500px;
}

.form-style1{
	margin-left:285px;
}

.form-style1 .line{
	margin-bottom:20px;
}

.form-style1 span{
	float:left;
	width:105px;
	line-height:40px;
	color:#666;
	font-size:16px;
}

.form-style1 .tip{
	float:left;
	width:auto;
	line-height:38px;
	color:#666;
	font-size:16px;
}

.form-style1 .input{
	float:left;
	height:40px;
	line-height:40px;
	border-radius:5px;
	padding:0px 10px;
	font-size:14px;
	color:#333;
	font-size:16px;
}

.form-style1 .w1{
	width:298px;
}

.form-style1 .w2{
	width:110px;
}

.form-style1 p{
	float:left;
	display:inline;
	margin-left:105px;
	line-height:20px;
	color:#989898;
	margin-top:5px;
	clear:both;
}

.form-style1 .code{
	float:left;
	display:inline;
	width:100px;
	height:30px;
	margin:6px 0px 0px 15px;
	overflow:hidden;
}

.form-style1 .code-change{
	float:left;
	display:inline;
	color:#929292;
	line-height:42px;
	margin-left:15px;
}

.form-style1 .protocol{
	line-height:18px;
	margin:50px 0px 0px 55px;
	color:#929292;
}

.form-style1 .protocol .radio-box{
	float:left;
	display:inline;
	margin-right:10px;
	width:18px;
	height:18px;
	background:url(../images/radio1.gif);
	cursor:pointer;
}

.form-style1 .protocol .radio-off{
	background:url(../images/radio1.gif);
}

.form-style1 .protocol .radio-on{
	background:url(../images/radio2.gif);
}

.form-style1 .protocol .radio-box .radio-btn{
	display:block;
	width:100%;
	height:100%;
	margin:0px;
	padding:0px;
	filter:alpha(opacity=0);
	opacity:0;
	cursor:pointer;
}

.form-style1 .protocol a{
	color:#38ade6;
}

.form-style1 .btn-line{
	margin:30px 0px 0px 140px;
}

.btn1{
	display:inline-block;
	border-radius:3px;
	background:#38ade6;
	font-size:18px;
	height:40px;
	line-height:40px;
	width:165px;
	text-align:center;
	border:none;
	color:#fff;
	cursor:pointer;
	font-family:"Microsoft Yahei","SimSun";
	padding:0px;
}

.btn1:hover,.btn2:hover{
	color:#fff;
	text-decoration:none;
}

.btn2{
	display:inline-block;
	border-radius:3px;
	background:#ff8601;
	font-size:18px;
	height:40px;
	line-height:40px;
	width:85px;
	text-align:center;
	border:none;
	color:#fff;
	cursor:pointer;
	font-family:"Microsoft Yahei","SimSun";
	padding:0px;
}

.form-style1 .code-btn{
	float:left;
	display:inline;
	margin-left:15px;
	height:42px;
	line-height:42px;
	width:172px;
	border:none;
	font-size:14px;
	font-family:"Microsoft Yahei","SimSun";
	text-align:center;
	border-radius:4px;
	cursor:pointer;
}

.form-style1 .code-btn-off{
	background:#f4f5f7;
	color:#9c9d9f;
}

.form-style1 .code-btn-on{
	background:#38ade6;
	color:#fff;
}

.form-style1 .tips1{
	margin:24px 0px 0px 105px;
	width:270px;
	border:1px solid #e8e8e8;
	border-radius:5px;
	padding:10px 24px 10px 24px;
}

.form-style1 .tips1 h4{
	font-size:15px;
	color:#707070;
	margin-bottom:5px;
}

.form-style1 .tips1 h5{
	line-height:24px;
	font-size:14px;
	color:#979797;
}

.form-style1 .input-check{
	float:left;
	display:inline;
	margin-left:10px;
	line-height:42px;
	width: auto;
	height:42px;
	padding-left:10px;
	background-repeat:no-repeat;
	background-position:left center;
}


.input-error{padding:0 5px 0 5px; background-image:url(../images/input-error.gif); color:#FF0000;}
.input-correct{padding:0 10px; background-image:url(../images/input-correct.gif); color:#49b300; }

.send-success{
	text-align:center;
}

.send-success .btn-line a{
	margin:0px 10px;
}

.title2{
	line-height:36px;
	font-size:18px;
	text-align:center;
}


.activation{
	margin:0px 0px 0px 310px;
}

.title3{
	font-size:24px;
	line-height:40px;
}

.activation .title3{
	background:url(../images/check.gif) no-repeat left 0px;
	padding-left:60px;
}

.activation .text2{
	margin:20px 0px 0px 60px;
}

.text2{
	line-height:28px;
	font-size:16px;
	color:#666;
}

.text2 a{
	color:#666;
}

.activation .btn-line{
	margin:25px 0px 0px 60px;
}

.text3{
	line-height:24px;
	color:#929292;
}

.text3 a{
	color:#38ade6;
}

.activation .text3{
	margin:10px 0px 0px 60px;
}

.drop-dialog{
	position:fixed;
	left:0px;
	top:0px;
	width:100%;
	height:100%;
	background:#000;
	background-color:rgba(0,0,0,0.5);
	display:none;
}

.drop-dialog .box{
	position:fixed;
	left:50%;
	top:50%;
	margin:-100px 0px 0px -175px;
	width:320px;
	height:155px;
	padding:45px 15px 0px 15px;
	background:#fff;
	border-radius:5px;
	text-align:center;
}

.drop-dialog .box p{
	height:72px;
	line-height:24px;
	font-size:18px;
}

.retrieve{
	margin:40px 0px 0px 105px !important;
}

.retrieve .btn1,.retrieve .btn2{
	float:left;
	display:inline;
	margin-right:30px;
}

.select-type{
	text-align:center;
}

.select-type ul{
	margin-left:-50px;
	zoom:1;
}

.select-type li{
	float:left;
	display:inline;
	margin-left:50px;
	width:160px;
}

.select-type li img{
	width:104px;
	height:104px;
	margin:0px auto;
}

.select-type li h3{
	font-size:20px;
	height:30px;
	line-height:30px;
	margin-top:20px;
}

.select-type li p{
	line-height:24px;
	color:#777;
	margin-top:10px;
	height:96px;
	text-align:left;
}

.select-type li .btn{
	display:block;
	border:1px solid #38ade6;
	height:40px;
	line-height:40px;
	border-radius:5px;
	text-decoration:none;
	font-size:16px;
	color:#38ade6;
	margin-top:20px;
}

.select-type li .btn:hover{
	background:#38ade6;
	color:#fff;
}

.form-style2{
	margin-left:165px;
}

.form-style2 .line{
	margin-bottom:20px;
}

.form-style2 span{
	float:left;
	width:150px;
	line-height:42px;
	color:#666;
	font-size:16px;
}

.form-style2 .input{
	float:left;
	height:40px;
	line-height:40px;
	border:1px solid #cbcbcb;
	border-radius:5px;
	padding:0px 10px;
	color:#333;
	font-size:16px;
}

.form-style2 .input-check{
	float:left;
	display:inline;
	margin-left:10px;
	line-height:42px;
	height:42px;
	padding-left:10px;
	background-repeat:no-repeat;
	background-position:left center;
	width: 220px;
}
.form-style2 .w1{
	width:480px;
}

.form-style2 p{
	float:left;
	display:inline;
	width:500px;
	margin-left:152px;
	line-height:20px;
	color:#989898;
	margin-top:5px;
	clear:both;
}

.form-style2 p a{
	color:#38ade6;
}

.form-style2 textarea{
	float:left;
	border:1px solid #cbcbcb;
	border-radius:5px;
	padding:5px 10px;
	font-size:14px;
	font-family:"Microsoft Yahei", "SimSun";
	color:#333;
	font-size:16px;
	line-height:26px;
	width:480px;
	height:105px;
	overflow:auto;
}

.form-style2 .add-photo{
	float: left;
	position: relative;
    display: inline-block;
}

.form-style2 .add-photo img{
	width:128px;
	height:128px;
	border:none;
	cursor:pointer;
}

.form-style2 .add-photo input{
	top: 0px;
    left: 0px;
	height: 128px;
    width: 128px;
    opacity: 0;
	-ms-filter: 'alpha(opacity=0)';
	moz-opacity: 0;
	FILTER: alpha(opacity=0); 
	cursor: pointer;
	position: absolute;
}

.form-style2 .add-photo-show{
	float:left;
	display:inline;
	margin-left:25px;
	width:128px;
	height:128px;
	border-radius:5px;
	overflow:hidden;
}

.form-style2 .add-photo-show img{
	width:100%;
	height:100%;
}

.form-style2 .select1{
	float:left;
	display:inline;
	margin-right:34px;
	margin-right:54px\9;
	width:135px\9;
	border:none\9;
	overflow:hidden;
}

.form-style2 .select1 select{
	height:40px;
	line-height:40px;
	font-family:"Microsoft Yahei","SimSun";
	font-size:16px;
	color:#666;
	padding:0px 10px;
	width:150px;
	border:1px solid #ccc;
	border-radius:5px;
	appearance:none;
	-moz-appearance:none;
	-webkit-appearance:none;
	background:url(../images/select-arrow.gif) no-repeat right center;
	padding-right: 14px;
}

.form-style2 .select1 select::-ms-expand { display: none; }

.form-style2 .btn-line{
	margin:30px 0px 0px 250px;
}

.form-style2 .vip-text{
	color:#f74937;
	margin-left:0px;
	clear:right;
}

.form-style2 .vip-text i{
	display:inline-block;
	vertical-align:middle;
	margin-left:5px;
	width:13px;
	height:13px;
	background:url(../images/viptext1.gif);
}

.form-style2 .vip-text:hover i{
	background:url(../images/viptext2.gif);
}

.form-style2 .add-photo2{
	float:left;
	display:inline;
	/* margin-left:152px; */
	height:34px;
	line-height:34px;
	font-size:14px;
	text-align:center;
	border:none;
	width:120px;
	border-radius:4px;
	margin-top:8px;
	cursor:pointer;
	
}

.form-style2 .add-photo2-off{
	background:#f2f2f2;
	color:#9e9e9e;
}

.form-style2 .add-photo2-on{
	background:#38ade6;
	color:#fff;
}

.form-style2 .protocol{
	line-height:18px;
	margin:40px 0px 0px 152px;
	color:#929292;
}

.form-style2 .protocol .radio-box{
	float:left;
	display:inline;
	margin-right:10px;
	width:18px;
	height:18px;
	background:url(../images/radio1.gif);
	cursor:pointer;
}

.form-style2 .protocol .radio-off{
	background:url(../images/radio1.gif);
}

.form-style2 .protocol .radio-on{
	background:url(../images/radio2.gif);
}

.form-style2 .protocol .radio-box .radio-btn{
	display:block;
	width:100%;
	height:100%;
	margin:0px;
	padding:0px;
	filter:alpha(opacity=0);
	opacity:0;
	cursor:pointer;
}

.form-style2 .protocol a{
	color:#38ade6;
}

.form-style2 .radio-list{
	float:left;
	width:515px;
}

.form-style2 .radio-list td{
	font-size:14px;
	line-height:24px;
	font-family:"Microsoft Yahei","SimSun";
	color:#989898;
	padding:5px 0px;
}

.form-style2 .radio-list .point{
	width:28px;
}

.form-style2 .radio-list .tit{
	color:#666;
	white-space:nowrap;
	padding-right:15px;
}

.form-style2 .radio-list .radio2-box{
	width:18px;
	height:18px;
	background:url(../images/radio1.gif);
	cursor:pointer;
}

.form-style2 .radio-list .radio2-off{
	background:url(../images/radio1.gif);
}

.form-style2 .radio-list .radio2-on{
	background:url(../images/radio3.gif);
}

.form-style2 .radio-list .radio2-btn{
	display:block;
	width:100%;
	height:100%;
	margin:0px;
	padding:0px;
	filter:alpha(opacity=0);
	opacity:0;
	cursor:pointer;
}

.photo-update{
	position:fixed;
	width:100%;
	height:100%;
	left:0px;
	top:0px;
	background-color:rgba(0,0,0,0.5);
	display:none;
}

.photo-update .drop-box{
	position:fixed;
	left:50%;
	top:50%;
	margin:-250px 0px 0px -450px;
	background:#fff;
	width:900px;
	height:475px;
	padding-top:25px;
	border-radius:8px;
}

.photo-update .drop-box table{
	width:850px;
	height:375px;
	margin:0px auto;
}

.photo-update .drop-box td{
	border:1px dashed #dcdcdc;
	text-align:center;
	padding-top:15px;
}

.photo-update .drop-box .block1{
	width:565px;
}

.photo-update .drop-box h3{
	font-size:16px;
	color:#999;
	line-height:24px;
}

.photo-update .drop-box .big{
	width:535px;
	height:300px;
	margin:22px auto 0px auto;
}

.photo-update .drop-box .big img{
	max-height:100%;
	max-width:100%;
	margin:0px auto;
}

.photo-update .drop-box .small{
	width:200px;
	height:200px;
	margin:50px auto 0px auto;
}

.photo-update .drop-box .block2 p{
	line-height:24px;
	font-size:14px;
	color:#999;
	margin-top:35px;
}

.photo-update .drop-box .btn-line{
	margin-top:28px;
	text-align:center;
}

.photo-update .drop-box .btn-line .btn1,.photo-update .drop-box .btn-line .btn2{
	width:165px;
	margin:0px 18px;
}

.index-num{
	background:#38ade6;
	color:#fff;
	overflow:hidden;
}

.index-num a{
	color:#fff;
}

.index-num .btn{
	float:left;
	width:162px;
	height:85px;
	line-height:85px;
	font-size:26px;
	text-align:center;
	background:#ff8601;
	text-decoration:none;
}

.index-num .btn img{
	display:inline-block;
	vertical-align:middle;
	margin-right:12px;
}

.index-num table{
	float:right;
	width:585px;
	margin-right:-1px;
	margin-top:12px;
}

.index-num td{
	height:61px;
	text-align:center;
	border-right:1px solid #2f9dd3;
}

.index-num td span{
	font-size:16px;
	line-height:24px;
	display:block;
}

.index-num td label{
	font-size:26px;
	line-height:36px;
	display:block;
}

.index-list{
	border-top:1px solid #e7e8ea;
	padding-top:15px;
}

.index-list li{
	padding:18px 0px;
}

.index-list li .face{
	float:left;
	width:30px;
	height:30px;
	border-radius:50%;
	overflow:hidden;
}

.index-list li .face img{
	width:100%;
	height:100%;
}

.index-list .sty1 .face{
	background:url(../images/index-list-face1.gif);
}

.index-list .sty2 .face{
	background:url(../images/index-list-face2.gif);
}

.index-list li p{
	float:left;
	display:inline;
	margin:3px 0px 0px 12px;
	width:565px;
	line-height:24px;
}

.index-list li p a{
	color:#38ade6;
}

.index-list li span{
	float:right;
	line-height:30px;
	font-size:12px;
	color:#bfbfbf;
}

.release-box1{
	border:1px solid #e7e8ea;
}

.release-box1 .tit{
	line-height:56px;
	height:56px;
	padding:0px 20px;
	color:#a9a9a9;
}

.release-box1 .tit span{
	float:left;
	font-size:20px;
	font-weight:bold;
}

.release-box1 .tit .text {
	float: left;
	display: inline;
	margin-left: 10px;
	height: 56px;
	line-height: 56px;
	border: none;
	font-size: 20px;
	font-weight: 700;
	font-family: "Microsoft Yahei", "SimSun";
	color: #333;
	width: 600px;
	outline:none;
}

.release-box1 .tit label{
	float:right;
	font-size:12px;
}

.release-box1 textarea{
	display:block;
	width:728px;
	height:580px;
	padding:10px;
	line-height:24px;
	font-size:16px;
	font-family:"Microsoft Yahei","SimSun";
	color:#333;
	border:none;
}

.release-box2 span{
	float:left;
	width:120px;
	font-size:16px;
	line-height:24px;
	color:#02374f;
}

.release-box2 .plus{
	float:left;
	display:inline;
	margin-right:40px;
	width:150px;
	height:105px;
	background:url(../images/release-plus.gif);
	border:none;
	cursor:pointer;
}

.release-box2 .plus-tips{
	float:left;
}

.release-box2 .btn3{
	display:inline-block;
	height:34px;
	line-height:34px;
	font-size:14px;
	color:#a9a9a9;
	background:#eee;
	border-radius:5px;
	padding:0px 15px;
	text-decoration:none;
}

.release-box2 p{
	color:#a9a9a9;
	font-size:12px;
	line-height:20px;
	margin-top:50px;
}

.release-box2 select{
	float:left;
	border:1px solid #e8e8e8;
	height:24px;
	min-width:110px;
	font-size:14px;
	color:#333;
}

.release-btn .btn1,.release-btn .btn2{
	float:left;
	display:inline;
	margin-right:22px;
	width:140px;
	height:34px;
	line-height:34px;
	font-size:14px;
}

.release-btn .btn2{
	color:#a9a9a9;
	background:#eee;
}

.release-btn .btn2:hover{
	background:#38ade6;
	color:#fff;
}

.drop-dialog2{
	position:fixed;
	width:100%;
	height:100%;
	left:0px;
	top:0px;
	background-color:rgba(0,0,0,0.5);
	display:none;
}

.drop-dialog2 .box{
	position:fixed;
	left:50%;
	top:50%;
	margin:-115px 0px 0px -230px;
	width:460px;
	min-height:200px;
	padding-top:30px;
	background:#fff;
	border-radius:5px;
	text-align:center;
}

.drop-dialog2 .box .close{
	position:absolute;
	right:18px;
	top:12px;
	width:20px;
	height:20px;
	background:url(../images/drop-close1.png);
}

.drop-dialog2 .box .close:hover{
	background:url(../images/drop-close2.png);
}

.drop-dialog2 .box h4{
	line-height:32px;
	font-size:18px;
	color:#000;
}

.drop-dialog2 .box h4 img{
	display:inline-block;
	vertical-align:middle;
	margin-right:12px;
}

.drop-dialog2 .box p{
	line-height:20px;
	color:#666;
	margin-top:30px;
}

.drop-dialog2 .btn-line{
	margin-top:50px;
}

.drop-dialog2 .btn-line .btn1,.drop-dialog2 .btn-line .btn2{
	height:30px;
	line-height:30px;
	width:110px;
	font-size:16px;
	margin:0px 12px;
}

.drop-dialog2 .btn-line .btn2{
	color:#666;
	background:#eee;
}

.manual-list li{
	border-bottom:1px solid #e7e8ea;
	font-family:"SimSun";
	padding:30px 0px;
	zoom:1;
}

.manual-list .photo{
	float:right;
	width:115px;
	height:85px;
}

.manual-list .photo img{
	width:100%;
	height:100%;
}

.manual-list .text{
	float:left;
	width:600px;
}

.manual-list h3{
	font-size:22px;
	line-height:26px;
	height:26px;
}

.manual-list .line2{
	color:#e7e8ea;
	line-height:20px;
	margin-left:-12px;
	margin-top:8px;
	display:none;
}

.manual-list .sty1 .line2,.manual-list .sty4 .line2{ display:block; }

.manual-list .line2 span{
	color:#94989c;
	margin:0px 12px;
}

.manual-list .line2 .share{
	color:#38ade6;
	margin-left:12px;
	background:url(../images/manual5.gif) no-repeat left center;
	padding-left:23px;
	position:relative;
}

.manual-list .line2 .share .drop3{
	position:absolute;
	left:50%;
	margin-left:-90px;
	top:28px;
	background:#f0f0f0;
	height:24px;
	padding:6px 0px;
	width:200px;
	text-align:center;
	border-radius:15px;
	display:none;
}

.manual-list .line2 .share .drop3 a{
	display:inline-block;
	width:24px;
	height:24px;
	margin:0px 6px;
}

.manual-list .line2 .share .drop3 i{
	position:absolute;
	left:50%;
	margin-left:-3px;
	top:-6px;
	width:0; 
	height:0; 
	border-left:6px solid transparent;
	border-right:6px solid transparent;
	border-bottom:6px solid #f0f0f0;
}

.manual-list .line1{
	line-height:20px;
	margin-top:12px;
}

.manual-list .line1 i,.manual-list .line1 b{
	font-style:normal;
	font-weight:normal;
}

.manual-list .line1 .infor{
	color:#b5b5b5;
}

.manual-list .sty1 .line1 .infor,.manual-list .sty4 .line1 .infor{ float:left; margin-right:20px; }

.manual-list .line1 .infor i{
	margin-right:15px;
}

.manual-list .line1 .infor b{
	display:none;
}

.manual-list .sty1 .infor .state1{ display:inline; }
.manual-list .sty2 .infor .state2{ display:inline; }
.manual-list .sty3 .infor .state3{ display:inline; }
.manual-list .sty4 .infor .state4{ display:inline; }

.manual-list .line1 .infor b img{
	display:inline-block;
	vertical-align:middle;
	margin:0px 8px;
}

.manual-list .sty1 .line1 .handle,.manual-list .sty4 .line1 .handle{ float:left; }

.manual-list .line1 .handle span{
	float:left;
	display:inline;
	color:#38ade6;
	margin-right:15px;
	display:none;
	position:relative;
}

.manual-list .line1 .handle span a{
	color:#38ade6;
}

.manual-list .sty1 .line1 .handle .link1,.manual-list .sty1 .line1 .handle .link2,.manual-list .sty1 .line1 .handle .link3{ display:block; }
.manual-list .sty2 .line1 .handle .link1,.manual-list .sty2 .line1 .handle .link4,.manual-list .sty3 .line1 .handle .link1,.manual-list .sty3 .line1 .handle .link4{ display:block; margin-top:8px; }
.manual-list .sty4 .line1 .handle .link3{ display:block; }

.manual-list .line1 .handle .link1{
	padding-left:20px;
	background-image:url(../images/manual1.gif);
	background-repeat:no-repeat;
	background-position:left center;
}

.manual-list .line1 .handle .link3{
	background-image:url(../images/manual6.gif);
	background-repeat:no-repeat;
	background-position:right center;
	padding-right:15px;
}

.manual-list .line1 .handle .link4{
	padding-left:20px;
	background-image:url(../images/manual3.gif);
	background-repeat:no-repeat;
	background-position:17px center;
	border-left:1px solid #c3c5c7;
	padding-left:38px;
}

.manual-list .line1 .handle .drop1{
	display:none;
	position:absolute;
	left:50%;
	margin-left:-75px;
	top:30px;
	width:150px;
	height:24px;
	line-height:24px;
	border:1px solid #ccc;
	border-radius:5px;
	font-size:12px;
	text-align:center;
	background:#fff;
}

.manual-list .line1 .handle .drop1 i,.manual-list .line1 .handle .drop2 i{
	position:absolute;
	left:50%;
	top:-7px;
	margin-left:-5px;
	width:11px;
	height:7px;
	background:url(../images/manual-drop.gif);
}

.manual-list .no-modify .line1 .handle .link1{
	background-image:url(../images/manual2.gif);
	color:#94989c;
}

.manual-list .no-modify .line1 .handle .link1 a{
	color:#94989c;
	text-decoration:none;
}

.manual-list .no-modify .line1 .handle .link1:hover .drop1{
	display:block;
}

.manual-list .line1 .handle .drop2 {
	z-index: 99;
	display: none;
	position: absolute;
	left: 50%;
	top: 30px;
	margin-left: -50px;
	width: 100px;
	line-height: 24px;
	border: 1px solid #ccc;
	border-radius: 5px;
	text-align: center;
	background: #fff;
}

.manual-list .line1 .handle .drop2 p{
	line-height:24px;
	padding:9px 0px;
	border-bottom:1px solid #e7e8ea;
	margin:0px 1px;
}

.manual-list .line1 .handle .drop2 .del{
	background-image:url(../images/manual3.gif);
	background-repeat:no-repeat;
	background-position:24px center;
	padding-left:20px;
}

.manual-list .no-delete .line1 .handle .drop2 .del{
	color:#ccc;
	background-image:url(../images/manual4.gif);
}

.manual-list .no-delete .line1 .handle .drop2 .del a{
	color:#ccc;
}

.comment-head{
	font-size:12px;
	line-height:24px;
	color:#b4b4b4;
}

.comment-list{
	border-top:1px dashed #e7e7e7;
}

.comment-list li{
	border-bottom:1px dashed #e7e7e7;
	padding:25px 5px 25px 55px;
	position:relative;
	line-height:20px;
}

.comment-list .face{
	position:absolute;
	left:0px;
	top:30px;
	width:40px;
	height:40px;
	border-radius:50%;
}

.comment-list .face img{
	border-radius:50%;
	width:100%;
	height:100%;
}

.comment-list .name{
	line-height:24px;
}

.comment-list .name span{
	float:left;
	color:#505050;
}

.comment-list .name span a{
	color:#505050;
}

.comment-list .name label{
	float:right;
	color:#b1b1b1;
	font-size:12px;
}

.comment-list .msg{
	color:#9b9b9b;
	margin-top:6px;
}

.comment-list .msg a{
	color:#38ade6;
}

.comment-list .discuss{
	background:#f7f7f7;
	padding:6px 12px;
	color:#b4b4b4;
	margin-top:20px;
}

.comment-list .discuss a{
	color:#38ade6;
}

.comment-list .bottom{
	margin-top:20px;
}

.comment-list .bottom .left a{
	color:#c3c3c3;
	padding-left:23px;
	background-repeat:no-repeat;
	background-position:left center;
	margin-right:10px;
}

.comment-list .bottom .left a:hover{
	color:#ff8601;
	text-decoration:none;
}

.comment-list .bottom .left .icon1{ background-image:url(../images/comment-icon1a.gif); }
.comment-list .bottom .left .icon1:hover{ background-image:url(../images/comment-icon1b.gif); }
.comment-list .bottom .left .icon2{ background-image:url(../images/comment-icon2a.gif); }
.comment-list .bottom .left .icon2:hover{ background-image:url(../images/comment-icon2b.gif); }

.comment-list .bottom .right a{
	margin-left:20px;
	color:#38ade6;
}

.comment-list .reply{
	background:#fafafa;
	padding:15px 15px 12px 15px;
	margin-top:18px;
	display:none;
}

.comment-list .reply textarea{
	width:628px;
	height:130px;
	padding:10px 15px;
	border:1px solid #e7e8ea;
	background:#fff;
	border-radius:5px;
	display:block;
	overflow:auto;
	font-size:14px;
	font-family:"Microsoft Yahei","SimSun";
	line-height:20px;
}

.comment-list .reply .btn-line{
	line-height:30px;
	height:30px;
	margin-top:10px;
	padding:0px 35px 0px 15px;
}

.comment-list .reply .btn-line span{
	float:left;
	color:#c3c3c3;
}

.comment-list .reply .btn-line .btn1{
	float:right;
	height:30px;
	line-height:30px;
	font-size:14px;
	width:80px;
}

.drop-dialog3{
	position:fixed;
	left:50%;
	top:50%;
	margin:-49px 0px 0px -139px;
	width:270px;
	padding:32px 0px;
	line-height:26px;
	border:4px solid #c3c3c3;
	border-radius:8px;
	background:#fff;
	text-align:center;
	font-size:16px;
	color:#505050;
	display:none;
}

.account-info .line{
	line-height:22px;
	margin-bottom:30px;
}

.account-info span{
	float:left;
	display:inline;
	width:180px;
	font-size:16px;
}

.account-info label{
	float:left;
	display:inline;
	color:#a1a0a0;
}

.account-info .state i{
	font-style:normal;
	color:#ff8601;
}

.account-info .face{
	float:left;
	display:inline;
	margin-right:15px;
	width:128px;
	height:128px;
	/* background:url(../images/account-face.jpg); */
}

.account-info .code{
	float:left;
	border:1px solid #e9e9e9;
	border-radius:4px;
	width:114px;
	height:114px;
	padding:6px;
}

.account-info .code img{
	width:114px;
	height:114px;
}

.account-info .download{
	float:left;
	display:inline;
	margin:94px 0px 0px 10px;
	line-height:34px;
	height:34px;
	padding:0px 10px;
	background:#f0f1f3;
	color:#a1a0a0;
	text-decoration:none;
	border-radius:4px;
}

.account-info .tips2{
	float:left;
	display:inline;
	margin:5px 0px 0px 180px;
	clear:left;
	font-size:12px;
	line-height:18px;
	color:#a1a0a0;
}

.account-info .btn-line{
	margin-top:50px;
	padding-left:180px;
	width:180px;
	text-align:center;
}

.account-info .btn-line .btn2{
	float:left;
	width:165px;
}

.account-info .btn-line p{
	float:left;
	display:inline;
	margin-left:20px;
	line-height:20px;
	color:#acacac;
	line-height:40px;
}

.account-info .btn-line p a{
	color:#38ade6;
}

.drop-dialog4{
	position:fixed;
	width:100%;
	height:100%;
	left:0px;
	top:0px;
	background-color:rgba(0,0,0,0.5);
	display:none;
}

.drop-dialog4 .box{
	position: fixed;
    left: 50%;
    top: 10%;
    margin: 0px 0px 0px -425px;
    width: 1000px;
    height: 80%;
    z-index: 3000;
    background: #fff;
    border-radius: 5px;
    overflow: hidden;
}

.drop-dialog4 .box .close{
	position:absolute;
	right:20px;
	top:20px;
	width:20px;
	height:20px;
	background:url(../images/drop-close1.png);
}

.drop-dialog4 .box .close:hover{
	background:url(../images/drop-close2.png);
}

.drop-dialog4 .box h3{
	margin:0px 50px 0px 50px;
	padding:2.5% 0px 2.5% 0px;
	font-size:20px;
	line-height:30px;
	color:#666;
	border-bottom:1px solid #eee;
}

.drop-dialog4 .box .con{
	margin:0px 15px 0px 80px;
	position:relative;
	height:82%;
	overflow-y:scroll;
}

.drop-dialog4 .form-style2{
	margin:0px;
	padding-top:30px;
}

.drop-dialog4 .form-style2 .btn-line{
	margin:30px 0px 30px 150px;
}

.drop-dialog4 .form-style2 .btn1,.drop-dialog4 .form-style2 .btn2{
	float:left;
	display:inline;
	margin:0px 35px 0px 0px;
	width:165px;
}

.security li{
	margin-bottom:15px;
	height:52px;
	line-height:52px;
	background:#f7f7f7;
	padding:0px 0px 0px 13px;
}

.security li span{
	float:left;
	font-size:16px;
	padding-left:38px;
	background-repeat:no-repeat;
	background-position:left center;
}

.security .icon1 span{ background-image:url(../images/security-icon1.png); }
.security .icon2 span{ background-image:url(../images/security-icon2.png); }
.security .icon3 span{ background-image:url(../images/security-icon3.png); }

.security li label{
	margin-left:20px;
	border-left:1px solid #dcdcdc;
	padding-left:20px;
	color:#a1a0a0;
}

.security li a{
	float:right;
	width:125px;
	text-align:center;
	color:#38ade6;
}

.title4{
	text-align:center;
	font-size:22px;
	line-height:30px;
	color:#666;
	border-bottom:1px solid #e7e8ea;
	padding-bottom:30px;
}

.title4 i{
	font-style:normal;
	color:#ff3333;
}

.form-style3{
	width: 1000px;
    margin-left: 148px;
}

.form-style3 .line{
	margin-bottom:20px;
}

.form-style3 span{
	float:left;
	min-width:135px;
	line-height:42px;
	color:#666;
	font-size:16px;
}

.form-style3 span a{
	color:#38ade6;
}

.form-style3 .input{
	float:left;
	height:40px;
	line-height:40px;
	border:1px solid #cbcbcb;
	border-radius:5px;
	padding:0px 10px;
	font-size:14px;
	color:#333;
	font-size:16px;
}

.form-style3 .w1{
	width:295px;
}

.form-style3 .w2{
	width:100px;
	font-size:14px;
	padding:0px 5px;
}

.form-style3 p{
	float:left;
	display:inline;
	width:315px;
	margin-left:135px;
	line-height:20px;
	color:#989898;
	margin-top:5px;
	clear:both;
}

.form-style3 p a{
	color:#38ade6;
}

.form-style3 .code-btn{
	float:left;
	display:inline;
	margin-left:15px;
	height:42px;
	line-height:42px;
	width:190px;
	border:none;
	font-size:14px;
	font-family:"Microsoft Yahei","SimSun";
	text-align:center;
	border-radius:4px;
	cursor:pointer;
}

.form-style3 .code-btn-off{
	background:#f4f5f7;
	color:#9c9d9f;
}

.form-style3 .code-btn-on{
	background:#38ade6;
	color:#fff;
}

.form-style3 .btn-line{
	margin-left:135px;
	margin-top:50px;
}

.form-style3 .btn-line .btn1{
	float:left;
}

.form-style3 .btn-line .btn3{
	line-height:40px;
	float:left;
	display:inline;
	margin-left:25px;
	color:#38ade6;
}

.form-style3 .input-check{
	margin-left: 10px;
    margin-top: 10px;
    line-height: 0px;
	height:20px;
	padding-left:8px;
	background-repeat:no-repeat;
	background-position:left center;
}

.form-style3 .input-error{ background-image:url(../images/input-error.gif); color:#f00; }
.form-style3 .input-correct{ background-image:url(../images/input-correct.gif); color:#49b300; }

.phone-msg li{
	border:1px solid #e9e9e9;
	background-color:#f9f9f9;
	margin-bottom:25px;
	padding:0px 30px 0px 115px;
	background-repeat:no-repeat;
	background-position:33px center;
	height:125px;
}

.phone-msg .icon1{ background-image:url(../images/phone1.png); }
.phone-msg .icon2{ background-image:url(../images/phone2.png); }

.phone-msg li .text{
	float:left;
	width:440px;
	margin-top:35px;
}

.phone-msg li .text h3{
	font-size:18px;
	line-height:24px;
}

.phone-msg li .text p{
	color:#a1a0a0;
	line-height:20px;
	margin-top:15px;
}

.phone-msg li a{
	float:right;
	width:130px;
	height:44px;
	background:#38ade6;
	font-size:16px;
	border-radius:5px;
	color:#fff;
	text-decoration:none;
	text-align:center;
	line-height:44px;
	margin-top:40px;
}

.changed{
	background:#f7f7f7;
	line-height:40px;
	padding:36px 0px 36px 0px;
	text-align:center;
	font-size:22px;
	color:#666;
}

.changed img{
	display:inline-block;
	vertical-align:middle;
	margin-right:16px;
}

.mail-send{
	width:550px;
	margin:0px auto;
	padding:30px 0px;
	background:#f7f7f7;
	color:#666;
	font-size:18px;
	line-height:40px;
	text-align:center;
}

.mail-tips{
	margin:0px 0px 0px 100px;
	line-height:32px;
	color:#666;
}

.mail-tips a{
	color:#38ade6;
}

.mail-tips h4{
	font-size:16px;
	line-height:24px;
	color:#333;
	margin-bottom:10px;
}

.mail-tips span{
	display:inline-block;
	margin-left:50px;
	padding:0px 10px 0px 40px;
	height:32px;
	line-height:32px;
	border:1px solid #ececec;
	background:#f7f7f7;
	border-radius:5px;
	background-position:14px center;
	background-repeat:no-repeat;
}

.mail-tips .correct{
	color:#666;
	background-image:url(../images/input-correct.gif);
}

.mail-tips .error{
	color:#f00;
	background-image:url(../images/input-error.gif);
}
#layout1{
	background:url(../images/header.jpg) no-repeat center top;
}

#layout1 .w1000{
	height:689px;
	position:relative;
}
#login{
	position:absolute;
	right:0px;
	top:170px;
	width:333px;
	height:367px;
	border-radius:5px;
	overflow:hidden;
	border:1px solid #ccedf8;
}

#login .bg{
	position:absolute;
	width:100%;
	height:100%;
	left:0px;
	top:0px;
	background:#fff;
	filter:alpha(opacity=50);
	opacity:0.5;
	z-index:1;
}

#login .con{
	padding:28px 15px 0px 15px;
	position:relative;
	z-index:9;
}

#login h3{
	font-size:20px;
	line-height:30px;
	color:#515151;
//	padding-left:4px;
	padding-bottom:8px;
}

#login .inp{
	display:block;
	width:253px;
	padding:0px 10px 0px 38px;
	border:1px solid #e4f5fc;
	background-color:#fff;
	height:40px;
	line-height:40px;
	font-size:14px;
	color:#8f8f8f;
	font-family:"Microsoft Yahei","SimSun";
	margin-top:18px;
	background-repeat:no-repeat;
	background-position:10px center;
}

#login .name{ background-image:url(../images/name.png); }
#login .pwd{ background-image:url(../images/pwd.png); }

#login .line3{
	margin-top:23px;
	line-height:20px;
	color:#515151;
}

#login .line3 .check{
	float:left;
}

#login .line3 .check input{
	margin-right:10px;
}

#login .line3 .forget{
	float:right;
	color:#515151;
}

#login .sub{
	height:43px;
	line-height:43px;
	background:#1094f1;
	color:#fff;
	width:303px;
	border:none;
	font-size:18px;
	border-radius:3px;
	cursor:pointer;
	font-family:"Microsoft Yahei","SimSUn";
	margin-top:40px;
}
#layout2 .title{
	text-align:center;
	font-size:30px;
	line-height:40px;
	color:#38ade6;
}

#layout2 .list ul{
	zoom:1;
	margin-left:-72px;
}

#layout2 .list li{
	float:left;
	display:inline;
	margin-left:72px;
	width:196px;
}

#layout2 .list h3{
	text-align:center;
	color:#ff8700;
	font-size:25px;
	line-height:30px;
	margin-top:36px;
}

#layout2 .list p{
	line-height:25px;
	color:#838383;
	margin-top:15px;
}

#layout2 .card{
	width:192px;
	color:#fff;
	position:relative;
	transition:all 0.5s ease-out 0s;
	transform-style:preserve-3d;
	perspective:1000px;
}


#layout2 .card .front{
	height:190px;
	width:190px;
	border:1px solid #eee;
	text-align:center;
	backface-visibility:hidden;
	transition:all 0.5s ease-out 0s;
	transform-style: preserve-3d;
	z-index: 2;
	transform: rotateY(0deg);
	position:relative\9;
	z-index:3\9;
	background-color:#fff;
	background-position:center center;
	background-repeat:no-repeat;
	border-radius:50%;
}

#layout2 .card:hover .front{
	transform: rotateY(-180deg);
}

#layout2 .icon1 .front{ background-image:url(../images/circle1a.png); }
#layout2 .icon2 .front{ background-image:url(../images/circle2a.png); }
#layout2 .icon3 .front{ background-image:url(../images/circle3a.png); }
#layout2 .icon4 .front{ background-image:url(../images/circle4a.png); }

#layout2 .card .back{
	height:190px;
	width:190px;
	border:1px solid #38ade6;
	position:absolute;
	left:0px;
	top:0px;
	backface-visibility:hidden;
	transition:all 0.5s ease-out 0s;
	transform-style:preserve-3d;
	transform:rotateY(-180deg);
	background-color:#38ade6;
	background-position:center center;
	background-repeat:no-repeat;
	border-radius:50%;
}

#layout2 .card:hover .back{
	transform:rotateY(-360deg);
	z-index:4\9;
}

#layout2 .icon1 .back{ background-image:url(../images/circle1b.png); }
#layout2 .icon2 .back{ background-image:url(../images/circle2b.png); }
#layout2 .icon3 .back{ background-image:url(../images/circle3b.png); }
#layout2 .icon4 .back{ background-image:url(../images/circle4b.png); }
#index_top .logo {
    float: left;
    margin-top: 18px;
}
#index_top .right{
	margin-top:30px;
}

#index_top .right a{
	float:left;
	display:inline;
	margin-left:20px;
	height:28px;
	line-height:28px;
	width:75px;
	border:1px solid #fff;
	border-radius:14px;
	font-size:14px;
	color:#fff;
	text-decoration:none;
	text-align:center;
}

#index_top .right a:hover{
	box-shadow:0px 0px 5px #fff inset;
}
.msg-fb{
	display: none;
	position: fixed;
	width: 750px;
	min-width: 750px;
	height: 50px;
	top: 0;
	z-index:65578;
	background-color: #FF8601;
}
.msg-fb-xx{
	color: white;
	margin: 0px auto;
	line-height: 50px;
}
.mask {
	position: absolute;
	top: 0px;
	filter: alpha(opacity=60);
	background-color: #777;
	z-index: 1002;
	left: 0px;
	opacity: 0.5;
	-moz-opacity: 0.5;
}
.mask2 {
	position: absolute;
	top: 0px;
	filter: alpha(opacity=60);
	background-color: #777;
	z-index: 1002;
	left: 0px;
	opacity: 0.5;
	-moz-opacity: 0.5;
}
.cal {
	cursor: pointer;
	width: 99px;
	border: 0px;
	background-color: #F7F7F7;
	outline: none;
	margin-left: 25px;
	margin-right: 25px;
	height: auto;
	font-size: 16px;
	color: rgb(51, 51, 51);
	background: url(../images/date.gif) no-repeat right center;
	margin: 0px 25px;
}
.drop-phone{
	position:fixed;
	left:0px;
	top:0px;
	width:100%;
	height:100%;
	background:#000;
	background-color:rgba(0,0,0,0.5);
	display:none;
}

.drop-phone .box{
	position:fixed;
	left:50%;
	top:50%;
	margin:-289px 0px 0px -139px;
	width:279px;
	height:578px;
	background:url(../images/drop-phone.png);
}

.drop-phone .close{
	position:absolute;
	right:-100px;
	top:0px;
	width:50px;
	height:50px;
	background:url(../images/drop-close3.png);
}

.drop-phone .close:hover{
	background:url(../images/drop-close4.png);
}

.drop-phone .show{
	position:absolute;
	left:18px;
	top:65px;
	width:244px;
	height:436px;
	overflow-y:auto;
}

.drop-phone .show .head img{
	width:100%;
}

.drop-phone .show h4{
	font-size:21px;
	line-height:28px;
	font-weight:bold;
	color:#000;
	margin:15px 10px 0px 10px;
}

.drop-phone .show h5{
	line-height:20px;
	font-size:12px;
	color:#aaa;
	margin:15px 10px 15px 10px;
}

.drop-phone .show .content{
	line-height:24px;
	margin:15px 10px 15px 10px;
}
.disable{
	    background-color: #a9a9a9;
}