/* CSS Document by mfx */


/* ��ʼ */

body {
	margin: 0;
	background: #fff;
	font-size: 12px;
	color: #333;
	font: Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif;
}

html,
html body {
	height: 100%;
}

div,
span,
p,
form,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
th,
td,
dl,
dt,
dd,
caption,
a,
legend,
hr,
b,
blockquote,
textarea {
	margin: 0;
	padding: 0;
	border: 0;
}

ul,
li,
ol {
	list-style-type: none;
}

table,
input,
textarea,
select,
button {
	font-size: 12px;
	vertical-align: middle;
}

img,
a img {
	border: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*���ڱ߱��ϲ�*/

address,
caption,
cite,
code,
dfn,
em,
th,
var {
	font-style: normal;
	font-weight: normal;
}

q:before,
q:after {
	content: '';
}


/* Ĭ��������ɫ */

a:link,
a:visited {
	outline-style: none;
	text-decoration: none;
}

a:hover,
a:active {
	color: #c00;
	text-decoration: underline;
}


/* ��ɫ */

.black {
	color: #000;
}

.white {
	color: #fff;
}

.red {
	color: #e10007;
}

.grey {
	color: #454545;
}

.orange {
	color: #ff7200;
}

.blue {
	color: #325976;
}

.navy {
	color: #183b7d;
}

.lchot,
a.lchot {
	color: #bd0a01;
}

.black,
a.black {
	color: #000;
}


/* �»��� */

.unline,
.unline a {
	text-decoration: underline
}

.nounline,
.nounline a,
.list12 .nounline {
	text-decoration: none
}


/* ͨ������ */

.left {
	float: left;
}

.right {
	float: right;
}

.clear {
	clear: both;
	font-size: 1px;
	width: 1px;
	height: 0;
	visibility: hidden;
	margin-top: 0px!important;
	*margin-top: -1px;
	line-height: 0
}

.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}


/* Hides from IE-mac \*/

* html .clearfix {
	height: 1%;
}


/* End hide from IE-mac */


/* ie7 hack*/

*+html .clearfix {
	min-height: 1%;
}


/*���ֶ��뷽ʽ*/

.txtLeft {
	text-align: left
}

.txtRight {
	text-align: right
}

.txtCenter {
	text-align: center
}


/*���÷���*/

sup {
	vertical-align: text-top;
}

sub {
	vertical-align: text-bottom;
}

.show {
	display: block
}

.hidden {
	display: none
}

.invisible {
	visibility: hidden;
}

.hand {
	cursor: pointer;
}

.fB {
	font-weight: bold;
}

.fI {
	font-style: italic;
}

.f12px {
	font-size: 12px;
}

.f14px {
	font-size: 14px;
}


/* CSS�հ� */

.blank1 {
	margin: 0 auto;
	height: 1px;
	font-size: 1px;
	clear: both;
	overflow: hidden
}

.blank2 {
	margin: 0 auto;
	height: 2px;
	font-size: 1px;
	clear: both;
	overflow: hidden
}

.blank3 {
	margin: 0 auto;
	height: 3px;
	font-size: 1px;
	clear: both;
	overflow: hidden
}

.blank5 {
	margin: 0 auto;
	height: 5px;
	font-size: 1px;
	clear: both;
	overflow: hidden
}

.blank8 {
	margin: 0 auto;
	height: 8px;
	font-size: 1px;
	clear: both;
	overflow: hidden
}

.blank10 {
	margin: 0 auto;
	height: 10px;
	font-size: 1px;
	clear: both;
	overflow: hidden
}

.blank15 {
	margin: 0 auto;
	height: 15px;
	font-size: 1px;
	clear: both;
	overflow: hidden
}

.blank20 {
	margin: 0 auto;
	height: 20px;
	font-size: 1px;
	clear: both;
	overflow: hidden
}

.blank25 {
	margin: 0 auto;
	height: 25px;
	font-size: 1px;
	clear: both;
	overflow: hidden
}

.blank30 {
	margin: 0 auto;
	height: 30px;
	font-size: 1px;
	clear: both;
	overflow: hidden
}

.blank35 {
	margin: 0 auto;
	height: 35px;
	font-size: 1px;
	clear: both;
	overflow: hidden
}

.blank40 {
	margin: 0 auto;
	height: 40px;
	font-size: 1px;
	clear: both;
	overflow: hidden
}

.blank45 {
	margin: 0 auto;
	height: 45px;
	font-size: 1px;
	clear: both;
	overflow: hidden
}

.blank50 {
	margin: 0 auto;
	height: 50px;
	font-size: 1px;
	clear: both;
	overflow: hidden
}

.blank55 {
	margin: 0 auto;
	height: 55px;
	font-size: 1px;
	clear: both;
	overflow: hidden
}

.blank60 {
	margin: 0 auto;
	height: 60px;
	font-size: 1px;
	clear: both;
	overflow: hidden
}