.img-cont {
	width: auto;
	height: auto;
	margin-top: 50px;
	width: 500px;
}

.img-cont>div {
	width: 128px;
	height: 128px;
	float: left;
	margin-right: 12px;
	margin-top: 12px;
	margin-bottom: 12px;
	border: 1px solid #38ADE6;
}

.img-cont>div>div {
	width: 128px;
	height: 128px;
}

.img-cont>div>a {
	width: 24px;
	height: 24px;
	position: absolute;
	margin-top: -140px;
	margin-left: 116px;
	background: url(../images/x_alt2.png);
	cursor: pointer;
}

.hide {
	display: none !important;
}

.photo-update .drop-box .small {
	overflow: hidden;
}

.photo-update .drop-box .big img {
	max-height: none !important;
	max-width: none !important;
	margin: 0!important;
}

.file_hide {
	width: 0;
	height: 0;
	overflow: hidden;
	position: absolute;
	z-index: -9999;
	left: -1000px;
	top: -1000px;
}

#clszizhi {
	/*position: absolute;*/
	margin-top: 50px;
	margin-left: -120px;
}
.specialty_photo file{
	height: 34px;
}